/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Idea
.idea/caches
.idea/libraries/
.idea/httpRequests/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/gradle.xml
.idea/.name
.idea/kotlinCodeInsightSettings.xml
.idea/.gitignore
.idea/render.experimental.xml
.idea/$CACHE_FILE$
.idea/checkstyle-idea.xml
.idea/checkstyleidea.tmp/
.idea/dictionaries
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/laravel-plugin.xml
.idea/php.xml
.idea/phpunit.xml
.idea/web.iml

